{% extends 'base.html' %}
{% block body %}

		<h1>What are you looking for?</h1>

		<form id='search_form'>
		<!-- 	<input type='text' id='npi' name='npi'></input> -->
			Zipcode: <input type='text' id='zip' name='zipcode'></input>
			Type of Doctor: <input type='text' id='specialty' name='specialty'></input>
			Procedure: <input type='text' id='procedure' name='procedure'></input>
			<button type='submit' class="btn btn-primary" id='get-doctors'>Search</button>
		</form>

		<div id='display-doctors'>
			
		</div>

		<script>

			$("#search_form").on('submit', function(event){

				event.preventDefault();

				var url = "/search_results?"+ $("#search_form").serialize();

				console.log(url);

				$('#display-doctors').load(url);
			})

		</script>
{% endblock %}