{% extends 'base.html' %}
{% block body %}
		<!-- This is the main search form, present on most pages -->
		<h1>What are you looking for?</h1>

		<form id='search_form'>
			<input style="width: 500px" type='text' id='search-terms' name='search-terms' placeholder="Cardiologist, x-ray..."></input>
			<input type='text' id='zip' name='zipcode' placeholder="Zipcode"></input>
			<button type='submit' class="btn btn-primary" id='get-doctors'>Search</button>
		</form>

		<div id='display-doctors'>
			
		</div>

		<script>

			//ajax call that loads the search results to 
			//display-doctors div
			$("#search_form").on('submit', function(event){

				event.preventDefault();

				var url = "/search_results?"+ $("#search_form").serialize();

				console.log(url);

				$('#display-doctors').load(url);
			})

		</script>
{% endblock %}